@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.preloader {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120vh;
  background: #070707;
  z-index: 10;
  animation: animateBg 10s linear infinite;
}
.preloader.out{
  opacity: 0;
  transition: 5s;
}
@keyframes animateBg{
  0%{
    filter:hue-rotate(0deg) ;
  }
  100%{
    filter: hue-rotate(160deg);
  }
}
.loader{
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}
.loader span{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(18deg*var(--i)));

}
.loader span::before{
 content: '';
 position: absolute;
 top: 0;
 left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(26, 245, 245);
  box-shadow: 0 0 10px rgb(26, 245, 245),
              0 0 20px rgb(26, 245, 245),
              0 0 40px rgb(26, 245, 245),
              0 0 60px rgb(26, 245, 245),
              0 0 80px rgb(26, 245, 245),
              0 0 100px rgb(26, 245, 245);
  animation: animate 2s linear infinite;
  animation-delay: calc(0.1s*var(--i));
}
@keyframes animate{
  0%{
    transform: scale(1);
  }
  80%,100%{
    transform: scale(0);
  }

}
body {
  background: url(../img/hero.jpg) no-repeat 50% 50%;
  background-size: cover;
  width: 100%;
}
#particles-js {
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 100vh;
}
.header {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: absolute;
}
.header_text {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 150px;
  color: white;
  padding: 10px;
  font-style: italic;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
}

.front {
  margin: auto;
  white-space: nowrap;
  border-right: 4px solid;
  width: 23ch;
  color: white;
  animation: typing 2s steps(23), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}
.box {
  position: relative;
  width: 200px;
  height: 200px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
}
.box::before {
  content: "";
  position: absolute;
  inset: -10px 70px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  animation: animateloader 4s linear infinite;
}
.box:hover::before {
  inset: -20px 0px;
}
@keyframes animateloader {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}
.box::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: #162052;
  border-radius: 50%;
  z-index: 1;
}
.content {
  position: absolute;
  inset: 15px;
  border: 6px solid #070a1c;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
}
.content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
}

@media screen and (min-width: 850px) {
  .header {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
  }
  .header_text {
    width: 400px;
  }
  .box{
    margin-top: 0;
  }
}

