.imgSkills{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
#titles{
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
    color: white;
}
.aboutMe{
    height: 100%;
    width: 100%;
    margin-top: 80px;
}
#textAbout{
    text-align: center;
    width: 40%;
}
.itemsAbout{
    display: flex;
    justify-content: space-around;
}

.skills{
    color: white;
    height: 100%;
    margin-top: 80px;
    display: block;
}
.imgSkills #iconsSkills{
    margin-top: 20px;
    color: cyan;
    width: 100px;
    height: 100px;
}
.imgSkills #boxi{
    margin-top: 20px;
    color: cyan;
    font-size: 120px;
}
@media (max-width: 600px) {
    .skills{
        margin-top: 80px;
        height: 100%;
    }
    .itemsAbout{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .aboutMe{
        margin-top: 80px;
        height: 100%;
    }
    .itemsAbout picture img{
        width: 300px;
        height: 300px;
    }
    #textAbout{
        text-align: center;
        width: 90%;
    }
}